<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 left-side">
        <h2>Insertar Alumno</h2>
        <form (ngSubmit)="onSubmit()" #alumnoForm="ngForm">
          <div class="form-group">
            <label for="nombre">Nombre del Alumno</label>
            <input type="text" id="nombre" class="form-control" [(ngModel)]="alumno.nombre" name="nombre" required>
          </div>
  
          <div class="form-group">
            <label for="fecha_nacimiento">Fecha de Nacimiento</label>
            <input type="date" id="fecha_nacimiento" class="form-control" [(ngModel)]="alumno.fecha_nacimiento" name="fecha_nacimiento" required>
          </div>
  
          <div class="form-group">
            <label for="nombre_padre">Nombre del Padre</label>
            <input type="text" id="nombre_padre" class="form-control" [(ngModel)]="alumno.nombre_padre" name="nombre_padre" required>
          </div>
  
          <div class="form-group">
            <label for="nombre_madre">Nombre de la Madre</label>
            <input type="text" id="nombre_madre" class="form-control" [(ngModel)]="alumno.nombre_madre" name="nombre_madre" required>
          </div>
  
          <div class="form-group">
            <label for="grado">Grado</label>
            <input type="text" id="grado" class="form-control" [(ngModel)]="alumno.grado" name="grado" required>
          </div>
  
          <div class="form-group">
            <label for="seccion">Sección</label>
            <input type="text" id="seccion" class="form-control" [(ngModel)]="alumno.seccion" name="seccion" required>
          </div>
  
          <div class="form-group">
            <label for="fecha_ingreso">Fecha de Ingreso</label>
            <input type="date" id="fecha_ingreso" class="form-control" [(ngModel)]="alumno.fecha_ingreso" name="fecha_ingreso" required>
          </div>
  
          <button type="submit" class="btn btn-primary mt-3 mb-5">Insertar Alumno</button>
        </form>
      </div>

      <div class="col-md-6 right-side">
        <h2>Consultar Alumnos por Grado</h2>
        <div class="form-group">
          <label for="gradoConsulta">Grado</label>
          <input type="text" id="gradoConsulta" class="form-control" [(ngModel)]="grado">
        </div>
        <button class="btn btn-secondary mt-3" (click)="consultarAlumnos()">Consultar</button>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
        </div>
        <div *ngIf="alumnos.length > 0" class="mt-4">
          <h3>Alumnos en Grado {{ grado }}</h3>
          <ul class="list-group">
            <li *ngFor="let alumno of alumnos" class="list-group-item">
              {{ alumno.nombre }} - Sección: {{ alumno.seccion }} - Fecha de Ingreso: {{ alumno.fecha_ingreso }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  